@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    background-image: url(../assets/mainPage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
    margin: 0px;
    padding: 0px;
}
.welcome {
    background-image: url(../assets/welcomePage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: "EduFont";
    src: url(../Fonts/FastHand/Fasthand-Regular.ttf);
    
}
@font-face {
    font-family: "Dosis";
    src: url(../Fonts/Dosis/Dosis-VariableFont_wght.ttf);
}
@font-face {
    font-family: "MateRegular";
    src: url(../Fonts/Mate/Mate-Regular.ttf);
}
@font-face {
    font-family: "Indie_Flower";
    src: url(../Fonts/Indie_Flower/IndieFlower-Regular.ttf);
}

@font-face{
    font-family: "NewAmsterdam";
    src: url("../Fonts/New_Amsterdam/NewAmsterdam-Regular.ttf")
}
@font-face {
    font-family: "EduGuides";
    src: url("../Fonts/EduGuides/EduAUVICWANTGuides-VariableFont_wght.ttf");
}
.font-title {
    font-family: "NewAmsterdam";
}
.font-small { 
    font-family: "MateRegular";
}
.font-export {
    font-family: "Dosis";
}
.font-indie_flower{
    font-family: "Indie_Flower";
}
.font-edu-guides{
    font-family: "EduGuides";
}
.border-e-1{
    border-inline-end-width: 1px;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
    .scrollbar-thin{
        scrollbar-width: thin;
    }

    .scrollbar-thin::-webkit-scrollbar{
        scrollbar-width: thin;
    }
}

.active-link{
    background-color: mediumseagreen;
}
